<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='src/style.css') }}">
        <title>登録データの確認</title>
    </head>
<body>
    <div class="h-screen bg-gradient-to-b from-red-200 to-teal-50 flex flex-col justify-center items-center">
    <h1>アカウント作成に成功しました</h1>
    <a href="{{ url_for('login') }}">
        <button class="text-slate-600 px-4 py-2 mt-8 text-lg bg-teal-300 text-lg font-semibold rounded  hover:bg-teal-400 hover:shadow-sm hover:translate-y-0.5 transform transition">ログイン画面に移動</button>
    </a>
    <a href="{{ url_for('main') }}">
        <button class="text-slate-600 px-4 py-2 mt-8 text-lg bg-gray-300 text-lg font-semibold rounded  hover:bg-gray-400 hover:shadow-sm hover:translate-y-0.5 transform transition">メイン画面に戻る</button>
    </a>
</div>
</body>
</html>
